<!-- sldsValidatorIgnore -->
<template>
  <article class="slds-card">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
          <span
            class="slds-icon_container slds-icon-standard-account"
            title="account1"
          >
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
              <use
                xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"
              ></use>
            </svg>
            <span class="slds-assistive-text">account2</span>
          </span>
        </div>
        <div class="slds-media__body">
          <h2 class="slds-card__header-title">
            <a
              href="#"
              class="slds-card__header-link slds-truncate"
              title="Accounts3"
            >
              <span>Communicate Father -> Son // Parent to child</span>
            </a>
          </h2>
        </div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
      <div class="mt-20">
        <p>Communication automatic</p>
        <lightning-input
          value={father}
          onchange={handleChange}
        ></lightning-input>

        <div class="mt-10">
          <c-communicate1-son
            son={father}
            sonvisible1="true"
          ></c-communicate1-son>
        </div>
      </div>

      <br />

      <div class="mt-20">
        <p>Communication by click</p>
        <lightning-input data-id="inputFather" class="mb-5"></lightning-input>
        <lightning-button
          onclick={handleClick}
          label="Enviar dato"
        ></lightning-button>

        <div class="mt-10">
          <c-communicate1-son
            son2={father2}
            sonvisible2="true"
          ></c-communicate1-son>
        </div>
      </div>
    </div>
    <footer class="slds-card__footer"></footer>
  </article>
</template>