<template>
  <article class="slds-card">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-account" title="account">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
              <use xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#account"></use>
            </svg>
            <span class="slds-assistive-text">account</span>
          </span>
        </div>
        <div class="slds-media__body">
          <h2 class="slds-card__header-title">
            <a href="#" class="slds-card__header-link slds-truncate" title="Accounts">
              <span>
                Communicate Son -> Father // Child to parent</span>
            </a>
          </h2>
        </div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
      <div>
        <p>Communication automatic</p>
        <lightning-input disabled="" value={son}></lightning-input>
        <c-communication2-son onhandlechange={handleSon1} visiblechild1="true"></c-communication2-son>
      </div>

      <div class="mt-40">
        <p>Communication by click</p>
        <lightning-input disabled="" value={son2}></lightning-input>
        <c-communication2-son onhandlechange2={handleSon2} visiblechild2="true"></c-communication2-son>
      </div>

    </div>
    <footer class="slds-card__footer"></footer>
  </article>
</template>