<template>
  <template if:true={sonvisible1}>
    <lightning-input value={son} disabled=""></lightning-input>
  </template>
  <template if:true={sonvisible2}>
    <lightning-input value={son2} disabled=""></lightning-input>
  </template>
</template>