<template>
  <template if:true={visiblechild1}>
    <lightning-input value={child} onchange={handleChange}></lightning-input>
  </template>
  <template if:true={visiblechild2}>
    <lightning-input data-id="inputSon"></lightning-input>
    <div class="mt-5">
      <lightning-button label="Enviar dato" onclick={handleClick}></lightning-button>
    </div>
  </template>
</template>